.especialidades {
    padding: 100px 50px;
    background: linear-gradient(180deg, #fff, #bdc3c7);

    .especialidades-text-block {
        background-color: #fff;
        padding: 40px;
        border-radius: 50px 0 50px 50px;
        max-width: 1000px;
    }

    .especialidades__title {
        position: relative;
        max-width: 550px;
        margin: 40px 0;
        position: relative;
    }

    .especialidades__text {
        max-width: 550px;
    }

    .button {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .img-fluid {
        padding-top: 30px;
    }
}

@media (min-width: 1200px) {
    .especialidades img {
        max-width: 620px;
    }
}


@media (max-width: 991px) {

    .especialidades .especialidades-text-block {
        padding: 20px 20px;
        margin-bottom: 80px;
    }

    .button {
        display: block;
        width: 100%;
    }

    .especialidades {
        padding: 40px 20px;
        text-align: center;
    }

    .especialidades__title,
    .especialidades__text {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    .especialidades__title {
        font-size: 28px;
        max-width: 300px;
    }

    .especialidades__text {
        padding-bottom: 40px;
    }

    .img-fluid {
        padding-bottom: 20px;
    }
}