.faq {
    padding: 100px 0;
    background-color: #ecf0f1;
}

.faq h2 {
    font-weight: 700;
}

.accordion-item {
    margin-bottom: 16px;
    overflow: hidden;
}

.accordion-body {
    background-color: #fff;
}