.newsletter {
    padding: 100px 20px;
    background: #0f172a;
    color: #fff;
}

.newsletter-form {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 30px;
}

.newsletter input {
    padding: 14px;
    border-radius: 8px;
    border: none;
    width: 280px;
}

@media (max-width: 576px) {
    .newsletter-form {
        flex-direction: column;
    }

    .newsletter input {
        width: 100%;
    }
}